.BBS_head_img{
	background-image:url(../images/bookmarks.png);
	background-repeat:no-repeat;
	background-position:bottom;
	background-size:cover;
	width:50px;
	height:70px;
	padding-top:-96px;
	position: absolute;
	top:145px;
	left:1000px
	
}

.BBS_content{
	/*background-image:url(../images/BBS_piaodai.png);*/
	
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	width:845px;
	/*border:2px red solid;*/
	border-radius: 8px;
	margin:10px 5px;
	
	padding: 5px;
	
}
.BBS_title a{
	color:#CCFF66;
}
.BBS_title span{
	color:#9999CC;
}
	.BBS_content:nth-child(odd){
			background-color:#666633;
			
			
	}
	.BBS_content:nth-child(even){
			background-color:Gray;
			
	}
	.BBS_content:hover{
			background-color:teal;
	}
.BBS_fatie{
	float:left;
	width:890px;
	border:5px #FFF solid;
	margin:5px auto;
	background-color: Gray;
}
.BBS_fatie_title{
	width:800px;
	padding:10px;
	margin:auto;
	
}
		.BBS_fatie_title input{
			width:540px;
			height:27px;
			border-radius: 8px;
		}
.BBS_fatie_content{
	width:800px;
	padding:10px;
	margin:auto;
	line-height: 5px;
}
		.BBS_fatie_content textarea{
			width:540px;
			margin:auto -9px;
			border-radius: 8px;
			
		}
		.BBS_fatie_content input{
			color:#F2F1EC;
			margin:auto 5px 5px;
			border:0px solid;
			border-radius: 8px;
			background-color: #00A6D2;
			font-size:20px;
		}
		.BBS_fatie_content input:hover{
			background-color:#2868c8;
			cursor: pointer;
		}
.BBS_foot{
	
	width:500px;
	margin:auto;
	margin-top:-60px;
	margin-bottom:10px;
	color:black;
}