.Yplay_left{
	border:2px #9A9A9A solid;
	color:white;
	position:absolute;
	top:100px;
	left:5px;
	width:200px;
	/*height:460px;*/
	background-color: #3A2A45;
}
	.Yplay_left dd{
		margin:5px;
	}
.Yplay_right{
	border:2px #9A9A9A solid;
	position:absolute;
	top:100px;
	left:1250px;
	width:100px;
	/*height:460px;*/
	background-color: #3A2A45;
}
	.Yplay_right a{
		text-align:center;
		color:white;
	} 