.Smenu{
	width:1000px;
	margin:75px 160px;
	/*border:5px red solid;*/
	float:left;
	
}
.Smenu_left{
	width:20%;
	border:1px Gray solid;
	border-top:0px;
	border-top:#d40000 3px solid;
	margin-top:auto;
	margin-left:50px;
	float:left;
	background-color: white;
}

	.Smenu_left dt{
		font-family:'¡• È';
		background-color:black;
		color:white;
		font-size:20px;
		background-image:url(../images/movie_img/maobi2.png);
		background-repeat:no-repeat;
		background-position:center; 
		background-size: contain/*|percentage|cover|contain*/;
		line-height: 33px;
		padding-left:20px; 
	}
	.Smenu_left li{
		margin:10px -80px;
		list-style:none;
		/*border:2px red solid;*/
		width:200px;
		height:50px;
		background-image:url(../images/movie_img/shuimo.jpg);
		background-repeat:no-repeat;
		background-position:center; 
		background-size: cover/*|percentage|cover|contain*/;
		/*text-align: center;*/
	}
	.Smenu_left li a{
		color:red;
	}

.Smenu_center{
	width:70%;
	margin:auto;
	border-top:#d40000 3px solid;
	border-left:1px Gray dashed;
	float:right;
}
.Smenu_center li{
	/*border:5px Gray solid;*/
	width:127px;
	height:180px;
	margin:10px;
	float:left;
}
	.Smenu_center li img{
	width:125px;
	height:140px;
}
